.DS_Store
.idea/*
__pycache__/*
*/__pycache__/*
data/*
datasets/*
logs/*
venv/*
*.csv
*.pdf
*.png
*.jpg
.coverage
*/*/.ipynb_checkpoints
dist/*
blocklib.egg-info/*
build/*
.mypy_cache/*

# readthedocs build
docs/_build/*
docs/_static/*
docs/_templates/*
docs/Makefile
docs/make.bat