bitarray-hardbyte==1.6.2
jsonschema==3.2.0
numpy==1.20.0; python_version >= '3.7'
numpy==1.19.5; python_version < '3.7'
metaphone==0.6
tqdm==4.56.0
pytest==6.2.2
pytest-cov==2.11.1
pytest-azurepipelines==0.8.0
nbval==0.9.6
